/* POPPINS FONT FAMILY */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f5f5f5;
}

header {
  height: 100%;
  width: 100%;
  background-color: #3400FF;
}
nav {
  display:none;
}
@media (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 40px;
    color: #fff;
    padding-top: 15px;
  }
}

.nav-item {
  cursor: pointer;
}

.nav-item-active {
  background-color: #fff;
  border: 0px;
  padding: 2px 4px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 400;
  color: #3400FF;
}

.logo {
  margin-left: 50px;
  cursor: pointer;
}


.header-text {
  margin-left: 50px;
  margin-top: 70px;
  line-height: 1.5;
  float: left;
  color: #fff;
}

.header-text>img {
  margin-bottom: 18px;
}

.headDesc{
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}
@media (min-width:1024px){
  .headDesc{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}





.companies {
  display: flex;
  gap: 25px;
  margin: 15px 70px;
}


.company-items {
  text-decoration: none;
  font-weight: 800;
  color: #000;
  font-size: 15px;
}

.api{
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (min-width : 1024px ){
.api {
  margin: 60px 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
}

.api-heading {
  font-weight: 800;
  margin-left: 85px;
  font-size: 40px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  
  flex-wrap: wrap;
  gap: 20px;
}

.card-active {
  background-color: #fff;
  padding: 40px 5px;
  border-radius: 15px;
  box-shadow: 1px 1px 15px #000;
}

.card-head-active {
  color: #5A31FC;
}

.card-logo {
  margin-left: 10px;
}

.card-head-active,
.card-head,
.card-body {
  margin-left: 10px;
}

.blog-heading {
  margin: 60px 10px;
  font-weight: 800;
  margin-left: 85px;
  font-size: 20px;
}

.blog-cards {
  display: flex;
  margin: 0px 85px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.blog-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  align-items: center;
  width: 600px;
  position: relative;
  /* height: 288px; */
  border-radius: 50px 10px 10px 15px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  position: relative;
}

.blog-card>.blog-bottom,
.blog-author {
  align-self: flex-end;
}

.blog-bottom{
  display: none;
}

@media (min-width:1024px){
.blog-bottom {
  display: block;
  position: absolute;
  right: 35%;
  top: 86%;
}
}

.blog-author{
  display: none;
}

@media (min-width:1024px){
.blog-author {
  display: block;
  position: relative;
  right: 14%;
  font-weight: 600;
  font-size: 10px;
  bottom: 5px;
}
}


.blog-image {
  height: 280px;
  margin-top: -8px;
}

.blog-content>h3 {
  font-weight: 800;
  font-size: 20px;
}

.blog-content>h6 {
  color: #5A31FC;
}

.faq-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-between;
  background-color: #E9EDFF;
}

.faq-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  margin-left: 85px;
}

.faq-content>h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
}

.faq-section .faq-content h4 {
  font-size: 12px;
  padding-top: 15px;
}

.faq-section .faq-content h2~h4:not(:first-of-type) {
  font-size: 1rem;
  padding-top: 20px;
}

.faq-content>button {
  background-color: #5A31FC;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 4px 4px;
}
.faq-image{
  display: none;
}
@media (min-width: 1024px){
  .faq-image{
    display: block;
  }
}

.download-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 5%;
}

.download-section>.download-content>h1>span {
  font-weight: 100;
}

.download-section>.download-content>h1 {
  font-weight: 800;
}


.download-section>.download-email form input::placeholder {
  font-size: 13px;
  font-weight: 600;
  color: #505050;
}

.download-email {
  background-color: #E9EDFF;
  padding: 5px 16px;
  border-radius: 30px;

}

.download-email>form {
  display: flex;
  justify-content: space-between;
  gap: 20%;
}

.download-email>form>input {
  border: none;
  outline: none;
  background-color: #E9EDFF;
}

.download-email>form input::placeholder {
  background-color: #E9EDFF;
}

.download-email>form>button {
  padding: 7px 34px;
  background-color: #5A31FC;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.download-section{
  display: none;
}

@media (min-width:1024px){
  .download-section{
    display: flex;
  }
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #4718FD;
  /* height: 250px; */
  margin-top: 5%;
  padding: 5%;
}


.footer-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 100px;
  gap: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 15px;
  color: #fff;
  font-size: 15px;
}


.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-right: 100px;
  gap: 20px;
}

.footer-right>.footer-right {
  display: flex;
  flex-direction: row;
}

.logos-list {
  display: flex;
  list-style: none;
  gap: 15px;
  color: #fff;
  font-size: 15px;
}


.footer-section .footer-left .list .list-items~.list-items:not(:last-of-type)::after {
  content: "";
  width: 1px;
  height: 50%;
  margin-left: 20px;
  display: inline-block;
  background-color: #ffffff;
}


.footer-right .logos-list .list-items:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 50%;
  margin-left: 20px;
  display: inline-block;
  background-color: #ffffff;
}

.header-image{
  width:100%;
}